<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html;charset=UTF-8</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html;charset=UTF-8</mime-type>
	</mime-mapping>
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>sym.common.action.LoginAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderAction</servlet-name>
		<servlet-class>sym.component.action.OrderAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResetPasswordAction</servlet-name>
		<servlet-class>sym.common.action.ResetPasswordAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUserAction</servlet-name>
		<servlet-class>sym.admin.action.AdminUserAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUserPageListAction</servlet-name>
		<servlet-class>sym.admin.action.AdminUserPageListAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCurrencyAction</servlet-name>
		<servlet-class>sym.admin.action.AdminCurrencyAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCurrencyPageListAction</servlet-name>
		<servlet-class>sym.admin.action.AdminCurrencyPageListAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminAgencyAction</servlet-name>
		<servlet-class>sym.admin.action.AdminAgencyAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminAgencyPageListAction</servlet-name>
		<servlet-class>sym.admin.action.AdminAgencyPageListAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCustomerAction</servlet-name>
		<servlet-class>sym.admin.action.AdminCustomerAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCustomerPageListAction</servlet-name>
		<servlet-class>sym.admin.action.AdminCustomerPageListAction</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>OrderDetailAction</servlet-name>
		<servlet-class>sym.component.action.OrderDetailAction</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InvoiceAction</servlet-name>
    <servlet-class>sym.component.action.InvoiceAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderPageListAction</servlet-name>
    <servlet-class>sym.component.action.OrderPageListAction</servlet-class>
  </servlet>





	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderAction</servlet-name>
		<url-pattern>/orderAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPasswordAction</servlet-name>
		<url-pattern>/resetPasswordAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUserAction</servlet-name>
		<url-pattern>/adminUserAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUserPageListAction</servlet-name>
		<url-pattern>/adminUserPageListAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCurrencyAction</servlet-name>
		<url-pattern>/adminCurrencyAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCurrencyPageListAction</servlet-name>
		<url-pattern>/adminCurrencyPageListAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminAgencyAction</servlet-name>
		<url-pattern>/adminAgencyAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminAgencyPageListAction</servlet-name>
		<url-pattern>/adminAgencyPageListAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCustomerAction</servlet-name>
		<url-pattern>/adminCustomerAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCustomerPageListAction</servlet-name>
		<url-pattern>/adminCustomerPageListAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderDetailAction</servlet-name>
		<url-pattern>/orderDetailAction</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvoiceAction</servlet-name>
    <url-pattern>/InvoiceAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderPageListAction</servlet-name>
    <url-pattern>/OrderPageListAction</url-pattern>
  </servlet-mapping>

	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>sym.common.filters.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
